@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&family=Poppins:wght@400;600;700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Hind', sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root {
	isolation: isolate;
	height: 100%;
}

/* Custom */

:root {
	--backfill: #F1F1F1;
	--inverted-backfill: #0D0D0D;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backfill: #0D0D0D;
		--inverted-backfill: #F1F1F1
	}

}

body {
	font-family: 'Hind', sans-serif;
	color: var(--inverted-backfill);
	background-color: var(--backfill);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}
